/*body{
  background-color:#1d1d1d;
  overflow:hidden;
}*/
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;padding: 0;
}

#loading{
	height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;padding: 0;
	background-color:#1d1d1d;
  	overflow:hidden;
}

svg{
  width:100%;
  height:100%;
}

/* ---- reset ---- */ 
canvas{ 
	display: block;
	vertical-align: bottom; 
} 

.macha {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fonts 4s infinite;
}
@keyframes fonts {
  0% {
    font-family: 'Lato', sans-serif;;
  }
  10% {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: white;
  }
  20% {
    font-family: 'Dancing Script', cursive;
    color: white;
  }
  30% {
    font-family: 'Pacifico', cursive;
    color: white;
  }
  40% {
    font-family: 'Amatic SC', cursive;
    color: white;
  }
  50% {
    font-family: 'Caveat', cursive;
    color: white;
  }
  60% {
    font-family: 'Tangerine', cursive;
    color: white;
  }
  70% {
    font-family: 'Marck Script', cursive;
    color: white;
  }
  80% {
    font-family: 'Noto Serif TC', serif;
    color: white;
  }
  90% {
    font-family: 'VT323', monospace;
    color: white;
  }
  99% {
    font-family: 'Satisfy', cursive;
  }
  100% {
  }

}


/* ---- particles.js container ---- */
#particles-js{ 
	position:absolute;
 	width: 100%;
 	height: 100%;
	background: linear-gradient(to bottom right, #03001e,#7303c0,#ec38bc)!important;
 	background-repeat: no-repeat;
 	background-size: 20%;
 	background-position: 50% 50%;
} 

h1.major,
h2.major,
h3.major,
h4.major,
h5.major,
h6.major {
  padding-bottom: 1em;
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
  margin-bottom: 20px;
}
a {
  color: #33A9B7;
}
#typer-size{
  font-family: 'Lato', sans-serif;
	font-size: 2.5em;
  margin-bottom: 2%;
}
a:hover,
a:focus {
  color: #00E4FF;
  text-decoration: none;
}
header {
  display: table;
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
}
header #particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
header .vert-text {
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
header .vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 2.5em;
  font-weight: 700;
}
header .vert-text .scroll-down {
  display: block;
  position: absolute;
  bottom: 12%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
header .vert-text .scroll-down:hover {
  opacity: 0.5;
}
header .vert-text .scroll-down::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
header .vert-text .scroll-down::before {
  position: absolute;
  top: -22px;
  left: -22px;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb 3s infinite;
  animation: sdb 3s infinite;
  box-sizing: border-box;
}

hr.style17 {
	border-top: 1px solid pink;
	text-align: center;
	width: 250px;
	margin-top: 10px;
}
hr.style17:after{
	border-top: 1px solid pink;
	border-right: 1px solid pink;
	border-bottom: 1px solid pink;
	border-left: 1px solid pink;
}
hr.style17:after {
	content: 'ยง';
	display: inline-block;
	position: relative;
	top: -10px;
	padding: 0 10px;
	background: #fa3380;
	color: #fff;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


p-img{
  text-align: center;
  position: relative;
  top: -20px;
}
#sam{
  z-index: 100;
  border-radius: 50%;
  width: 170px;
  height:170px;
}

#burger{
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;
  color: white;
  background: linear-gradient(45deg, #9682C8 10%, #05BCC9);;
  font-size: 32px;
  padding: 16px 16px 32px 32px;
  border-radius: 0% 0% 0% 100%;
  transition: 1s;
  cursor: pointer;
  overflow: hidden;
}

#quit{
  position: absolute;
  z-index: 999;
  top: 0;
  color: white;
  font-size: 32px;
  padding: 16px;
  display: none;
  cursor: pointer;
}

#links{
  display: none;
  z-index: 999;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  padding: 25vh 0;
  justify-content: space-around;
}

#links a{
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 2em;
  font-family: 'Roboto';
  z-index: 9999;
}
#sam {
  -webkit-animation: rotateimg 3s infinite linear;
}
@keyframes rotateimg {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
} 
@-webkit-keyframes rotateimg {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
} 
/* ---- stats.js ---- 
.count-particles{ 
	background: #000022;
 	position: absolute;
 	top: 48px;
 	left: 0;
 	width: 80px;
 	color: #13E8E9;
 	font-size: .8em;
 	text-align: left;
 	text-indent: 4px;
 	line-height: 14px;
 	padding-bottom: 2px;
 	font-family: Helvetica, Arial, sans-serif;
 	font-weight: bold;
}

 .js-count-particles{
 	font-size: 1.1em;
} 

#stats, .count-particles{ 
	-webkit-user-select: none; 
	margin-top: 5px;
	margin-left: 5px;
} 

#stats{ 
	border-radius: 3px 3px 0 0;
	overflow: hidden;
} 

.count-particles{
	border-radius: 0 0 3px 3px;
}
var count_particles, stats, update;
stats = new Stats;
stats.setMode(0);
stats.domElement.style.position = 'absolute';
stats.domElement.style.left = '0px';
stats.domElement.style.top = '0px';
document.body.appendChild(stats.domElement);
count_particles = document.querySelector('.js-count-particles');

update = function() { 
stats.begin();
stats.end();

if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
count_particles.innerText = window.pJSDom[0].pJS.particles.array.length; 
}
requestAnimationFrame(update);
 };
requestAnimationFrame(update);*/