/*body{
  background-color:#1d1d1d;
  overflow:hidden;
}*/
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;padding: 0;
}

#loading{
	height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;padding: 0;
	background-color:#1d1d1d;
  	overflow:hidden;
}

svg{
  width:100%;
  height:100%;
}

/* ---- reset ---- */ 
canvas{ 
	display: block;
	vertical-align: bottom; 
} 

/* ---- particles.js container ---- */
#particles-js{ 
	position:absolute;
 	width: 100%;
 	height: 100%;
	background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: #0f0c29;  /* fallback for old browsers */
	background-image: url("samvid.gif");
 	background-repeat: no-repeat;
 	background-size: 20%;
 	background-position: 50% 50%;
} 


body {
  font-family: 'Comfortaa', cursive;
	background: linear-gradient(#F15F79 0%, #B24592 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: -webkit-linear-gradient(#F15F79 0%, #B24592 100%);  /* Chrome 10-25, Safari 5.1-6 */
}
h1.major,
h2.major,
h3.major,
h4.major,
h5.major,
h6.major {
  padding-bottom: 1em;
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
  margin-bottom: 20px;
}
a {
  color: #33A9B7;
}
#typer-size{
	font-size: 40px;
}
a:hover,
a:focus {
  color: #00E4FF;
  text-decoration: none;
}
header {
  display: table;
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
}
header #particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
header .vert-text {
  display: table-cell;
  position: relative;
  text-align: center;
}
header .vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}
header .vert-text .scroll-down {
  display: block;
  position: absolute;
  bottom: 12%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
header .vert-text .scroll-down:hover {
  opacity: 0.5;
}
header .vert-text .scroll-down::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
header .vert-text .scroll-down::before {
  position: absolute;
  top: -22px;
  left: -22px;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb 3s infinite;
  animation: sdb 3s infinite;
  box-sizing: border-box;
}

hr.style17 {
	border-top: 1px solid pink;
	text-align: center;
	width: 250px;
	margin-top: 10px;
}
hr.style17:after{
	border-top: 1px solid pink;
	border-right: 1px solid pink;
	border-bottom: 1px solid pink;
	border-left: 1px solid pink;
}
hr.style17:after {
	content: 'ยง';
	display: inline-block;
	position: relative;
	top: -10px;
	padding: 0 10px;
	background: #fa3380;
	color: #fff;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}





s






/* ---- stats.js ---- 
.count-particles{ 
	background: #000022;
 	position: absolute;
 	top: 48px;
 	left: 0;
 	width: 80px;
 	color: #13E8E9;
 	font-size: .8em;
 	text-align: left;
 	text-indent: 4px;
 	line-height: 14px;
 	padding-bottom: 2px;
 	font-family: Helvetica, Arial, sans-serif;
 	font-weight: bold;
}

 .js-count-particles{
 	font-size: 1.1em;
} 

#stats, .count-particles{ 
	-webkit-user-select: none; 
	margin-top: 5px;
	margin-left: 5px;
} 

#stats{ 
	border-radius: 3px 3px 0 0;
	overflow: hidden;
} 

.count-particles{
	border-radius: 0 0 3px 3px;
}
var count_particles, stats, update;
stats = new Stats;
stats.setMode(0);
stats.domElement.style.position = 'absolute';
stats.domElement.style.left = '0px';
stats.domElement.style.top = '0px';
document.body.appendChild(stats.domElement);
count_particles = document.querySelector('.js-count-particles');

update = function() { 
stats.begin();
stats.end();

if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
count_particles.innerText = window.pJSDom[0].pJS.particles.array.length; 
}
requestAnimationFrame(update);
 };
requestAnimationFrame(update);*/